    <h2>{{name}}</h2>

  <ul>
    <li>Location: {{location}}</li>
    <li>Type: {{type}}</li>
    <li>Description: {{description}}</li>
    <li>kills: {{kills}}</li>
    <li>price: {{price}} </li>
    
  </ul>

  <img class="hunter-img" src="/images/{{name}}.png" alt="A hunter called {{name}}">
