    <h2>{{name}}</h2>

  <ul>
    <li>Location: {{location}}</li>
    <li>Type: {{type}}</li>
    <li>Description: {{description}}</li>
  </ul>

  <img class="monster-img" src="/images/{{name}}.png" alt="A monster called {{name}}">
